.tabs-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 12px 0 12px;
    gap: 2px;
    justify-content: center;
    font-size: 0.85em;
}

.tab {
    position: relative;
    padding: 6px 16px 4px 16px;
    background-color: #ffecb9;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    color: #1a1a1a;
    border: none;
    margin-bottom: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 4px;
}

.tab.active {
    background-color: #fffaeefe;
    background-image: url("/docbro/images/low-contrast-linen.png");
    color: #1a1a1a;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 0;
    padding: 9px 16px 4px 16px;
    margin-top: 1px;
}

/* Close button */
.tab-close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff5e6;
    color: #333333;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    display: none;
    border: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

.tab:hover .tab-close-btn {
    display: block;
}

/* Shrink tabs on smaller screens */
@media (max-width: 1200px) {
    .tab {
        max-width: 150px;
    }
}

@media (max-width: 900px) {
    .tab {
        max-width: 100px;
        padding: 5px 10px;
    }
    .tab.active {
        padding: 8px 10px 5px 10px;
    }
}

@media (max-width: 600px) {
    .tab {
        max-width: 70px;
        font-size: 0.85em;
    }
}
