.tabs-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 12px 0 12px;
    gap: 2px;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    position: relative;
    padding: 5px 16px 5px 16px;
    background-color: #ffecb9;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    color: #1a1a1a;
    font-weight: 500;
    border: none;
    margin-bottom: 0.5px;
}

.tab.active {
    background-color: #fffaee;
    background-image: url("/docbro/images/low-contrast-linen.png");
    color: #1a1a1a;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 0;
    padding: 8px 16px 5px 16px;
}
