.tabs-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 12px 0 12px;
    gap: 2px;
    justify-content: center;
    font-size: 0.9em;
}

.tab {
    position: relative;
    padding: 7px 16px 4px 16px;
    background-color: #ffecb9;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    color: #1a1a1a;
    border: none;
    margin-bottom: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 3px;
}

.tab.active {
    background-color: #fffaeefe;
    background-image: url("/docbro/images/low-contrast-linen.png");
    color: #1a1a1a;
    font-weight: 600;
    z-index: 1;
    margin-bottom: 0;
    padding: 9px 16px 4px 16px;
    margin-top: 0px;
}

/* Shrink tabs on smaller screens */
@media (max-width: 1200px) {
    .tab {
        max-width: 150px;
    }
}

@media (max-width: 900px) {
    .tab {
        max-width: 100px;
        padding: 5px 10px;
    }
    .tab.active {
        padding: 8px 10px 5px 10px;
    }
}

@media (max-width: 600px) {
    .tab {
        max-width: 70px;
        font-size: 0.85em;
    }
}
